.container {
  display: flex;
}

.leftPanel {
  display: flex;
  flex:1;
  gap: 2rem;
  align-items: flex-start;
  border: 2px solid red;
}

.rightPanel {
  display: flex;
   background-color: #f7faff;
  gap: 2rem;
  flex: 1;
}

@media (max-width: 1024px) {
  .topSection {
    flex-direction: column;
  }
}
