.sidebar {
  grid-area: sidebar;
  background-color:#f7faff;
  padding-top: 0;
  display: flex;
  height: auto;
  min-height: 100vh;
  flex-direction: column;
  align-items: flex-start;
}
.sidebarInner {
  padding-left: 2rem; 
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex:1;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  display: inline;
}

.logoHighlight {
  color: #00e0ff; 
}

.logoBase {
  color: #000000; 
}

.bottom {
  margin-top: auto;
  padding-bottom: 2rem;
}

@media (max-width: 1024px) {
  .sidebar {
    min-height: auto;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .sidebarInner {
    padding-left: 0.5rem;
  }
  .logo {
  font-size: 1.5rem;
  }
}

@media (max-width: 768px) {

  .sidebar {
    height: 50vh;
    padding:0;
    padding-left: 1rem;
  }
  .sidebarInner {
    padding: 1rem;
  }
    .logo {
  font-size: 1.5rem;
  margin: 0;
  }
}

@media (max-width: 480px) {
 
  .sidebarInner{
    gap: 1rem;
  }
  .logo {
  font-size: 1.4em;
  }
}