.container {
  position: relative;
  width: 300px;
  max-height: 400px; 
  display: flex;
}

.bodyImage {
  max-height: 100%; 
  width: auto;
  height: auto;
  object-fit: contain;
}

.indicator {
  position: absolute;
  font-size: 0.8rem;
  background: white;
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.topLeft {
  top: 20%;
  left: 5%;
}

.bottomRight {
  bottom: 15%;
  right: 10%;
}

.status {
  font-size: 1rem;
}
