.cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.details {
  font-size: 0.85rem;
  color: #6366f1;
  margin-left: auto;
  cursor: pointer;
}

.arrow{
  font-size: 0.6rem;
  color: #6366f1;
  margin-left: 0.25rem;
  vertical-align: middle;
}
