.appLayout {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  height: 100vh;
  background-color: #ffffff;
}

.sidebar {
  grid-area: sidebar;
}

.header {
  grid-area: header;
  background-color: #ffffff;
  
}

.mainContent {
  grid-area: main;
  overflow-y: auto;
  background-color: #ffffff;
  

}

@media (max-width: 1024px) {
  .appLayout {
    grid-template-columns: 170px 1fr;
  }
  .searchWrapper {
    padding: 1rem 0.5rem;
  }
  .searchIcon {
    left: 2.5rem;
  }
  .searchBar {
    margin-left: 1rem;
  }
  .addBtn {
    margin-right: 1rem;
  }
}

@media (max-width: 768px) {
  .appLayout {
    grid-template-columns: 1fr;
    grid-template-rows: 64px 30vh 1fr; 
    grid-template-areas:
      "header"
      "sidebar"
      "main";
  }

  .sidebar {
    height: 30vh;
    overflow-y: auto;
  }

  .header {
    height: 64px;
   }
}

@media (max-width: 480px) {
  .appLayout {
    grid-template-rows: 60px 30vh 1fr;
  }

  .sidebar {
    font-size: 0.9rem;
    padding-left: 0;
  }

  .mainContent {
    height: 100vh;
  }

  .header {
    padding: 0;
  }
}

